/* src/app/your-component/your-component.component.css */
.leetcode-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45vh; /* Make the container full height */
  }
  
  .image-container {
    max-width: 80%; /* Adjust as needed */
  }
  
  .image-container img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto; /* Center the image horizontally */
  }
  