<br><br><br>
<div style="display: flex;flex-direction: column;" id="about">
    <div style="display: flex;width: 100%;align-items: center;flex-direction: column;">
        <div><h3 style="color: rgb(85, 85, 85);font-family:Poppins, sans-serif;">Get to Know More</h3></div>
        <div> <h1 style="font-size: 3rem;font-weight: bold;font-family:Poppins, sans-serif;">About me</h1></div>
    </div>
    <div style="display: flex;flex-direction: column;">
        <div class="mainDiv">
            <div class="experience">
                <div><img src="../../../assets/experience.jpg" alt="experience" style="cursor: pointer;height: 2rem;display: inline-block;"><br></div>
            <h1 style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">Experience</h1>
            <p style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                6 months Software Engineer Intern at SMARTAIL<br><br>
                Full-Stack Development
            </p>
        </div>
            <div class="experience">
            <img src="../../../assets/education.png" alt="education" style="cursor: pointer;height: 2rem;display: inline-block;"><br>
            <h1 style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">Experience</h1>
            <p style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                M.Sc. Software Systems
            </p>
        </div>
        </div>
        <div style="display: flex;width: 90%;/* justify-content: center; */margin-left: 5%;font-size: 1.5rem;color: rgb(85,85,85);">
            <p style="
            text-align: justify;
            /* text-wrap: wrap; */
        ">
                    Self-motivated, highly passionate and
        hardworking fresher looking for an
        opportunity to work in a challenging
        organization to utilize my skills and
        knowledge to work for the growth of the
        organization.
        </p></div>

    </div>
</div>