<br>
<div class="main">
    <!-- <div class="logo">Rithik Suthan</div> -->
    <div class="navbar">
        <div><a (click)="scrollTo('about')">About</a></div>
        <div><a (click)="scrollTo('experience')">Experience</a></div>
        <div><a (click)="scrollTo('project')">Projects</a></div>
        <div><a (click)="scrollTo('contact')">Contact</a></div>



    </div>
</div>
<br><br>
<span class="footer">
    Copyright © 2024 Rithik Suthan. All Rights Reserved. Version 1.0.3
</span>
<router-outlet></router-outlet>
