<br><br><br>
<div style="display: flex;flex-direction: column;" id="projects">
    <div style="display: flex;width: 100%;align-items: center;flex-direction: column;">
        <div ><h3 style="color: rgb(85, 85, 85);font-family:Poppins, sans-serif;">Browse My Recent</h3></div>
        <div> <h1 style="font-size: 3rem;font-weight: bold;font-family:Poppins, sans-serif;">Projects</h1></div>
    </div>
    <div style="display: flex;flex-direction: column;">
        <div class="mainDiv">
            
            <!-- <div style="padding: 1.5rem;
            flex: 1;
            background: white;
            border-radius: 2rem;
            border: rgb(53, 53, 53) 0.1rem solid;
            border-color: rgb(163, 163, 163);
            text-align: center;font-family: Poppins,sans-serif;
            margin:5%">

            <img src="../../../assets/makemyjourney.png" alt="makemyjourney" style="height: 10rem;width: 100%;"><br><br>
            <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">Make My Journey</span><br><br>
            <button (click)="openMakeMyJourney()" class="btn btn-color-2" style="cursor: pointer;">Github</button>
        </div> -->
        <div style="padding: 1.5rem;
        flex: 1;
        background: white;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
        text-align: center;font-family: Poppins,sans-serif;
        margin:5%">

        <img src="../../../assets/staffsync.JPG" alt="makemyjourney" style="height: 10rem;width: 100%;"><br><br>
        <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">Staff Sync</span><br><br>
        <span class="flex text-justify">
            Staff Sync is a comprehensive team coordination platform designed to streamline various aspects of team management and communication.
        </span>
        <br>
        <div class="w-full flex justify-between">
            <button (click)="openStaffSync()" class="btn bg-black text-white" style="cursor: pointer;">Demo</button>
            <button (click)="openStaffSyncGithub()" class="btn btn-color-2" style="cursor: pointer;">Github</button>

        </div>
            </div>        <div style="padding: 1.5rem;
            flex: 1;
            background: white;
            border-radius: 2rem;
            border: rgb(53, 53, 53) 0.1rem solid;
            border-color: rgb(163, 163, 163);
            text-align: center;font-family: Poppins,sans-serif;
            margin:5%">
    
            <img src="../../../assets/melinia.JPG" alt="makemyjourney" style="height: 10rem;width: 100%;"><br><br>
            <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">Melinia 2K24</span><br><br>
            <span class="flex text-justify">
                Contributed to the development of the Melinia 2k24 website for the department symposium at Coimbatore Institute of Technology, taking charge of the Crew Members and Developers pages.
            </span>
            <br>
            <div class="w-full flex justify-between">
                <button (click)="openMelinia()" class="btn bg-black text-white" style="cursor: pointer;">Demo</button>
                <button (click)="openMeliniaGithub()" class="btn btn-color-2" style="cursor: pointer;">Github</button>
    
            </div>
                </div>
        <div style="padding: 1.5rem;
        flex: 1;
        background: white;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
        text-align: center;font-family: Poppins,sans-serif;
        margin :5%;">

        <img src="../../../assets/carPricePrediction.png" alt="carPricePrediction" style="height: 10rem;width: 100%;"><br><br>
        <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">Car Price Prediction</span><br><br>
        <span class="flex text-justify">
            The main objective of this project is used to predict the price of old used cars using a Random Forest Classifier and developed a user-friendly interface using the python framework Flask.        </span>
        <button (click)="openCarPrice()" class="btn btn-color-2" style="cursor: pointer;">Github</button>
    </div>

        </div>
        <div class="mainDiv">
            
            <!-- <div style="padding: 1.5rem;
            flex: 1;
            background: white;
            border-radius: 2rem;
            border: rgb(53, 53, 53) 0.1rem solid;
            border-color: rgb(163, 163, 163);
            text-align: center;font-family: Poppins,sans-serif;
            margin:5%">

            <img src="../../../assets/makemyjourney.png" alt="makemyjourney" style="height: 10rem;width: 100%;"><br><br>
            <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">Make My Journey</span><br><br>
            <button (click)="openMakeMyJourney()" class="btn btn-color-2" style="cursor: pointer;">Github</button>
        </div> -->
        <div style="padding: 1.5rem;
        flex: 1;
        background: white;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
        text-align: center;font-family: Poppins,sans-serif;
        margin:5%">

        <img src="../../../assets/fire.jpg" alt="makemyjourney" style="height: 10rem;width: 100%;"><br><br>
        <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">Firefighting Robot</span><br><br>
        <span class="flex text-justify">
            Led the development of an autonomous firefighting robot project aimed at swiftly detecting and extinguishing small flames in hazardous environments. Implemented features including flame detection, fire extinguishing procedures, navigation, and real-time monitoring through a mobile application .
        </span>
        <br>
        <div class="w-full flex justify-between">
            <button (click)="openFire()" class="btn bg-black text-white" style="cursor: pointer;">Demo</button>
            <button (click)="openFireGithub()" class="btn btn-color-2" style="cursor: pointer;">Github</button>

        </div>
            </div>        <div style="padding: 1.5rem;
            flex: 1;
            background: white;
            border-radius: 2rem;
            border: rgb(53, 53, 53) 0.1rem solid;
            border-color: rgb(163, 163, 163);
            text-align: center;font-family: Poppins,sans-serif;
            margin:5%">
    
            <img src="../../../assets/crime.JPG" alt="makemyjourney" style="height: 10rem;width: 100%;"><br><br>
            <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">Analysis-of-Crime-Against-Women-in-India</span><br><br>
            <span class="flex text-justify">
                This analysis focuses on studying crimes against women in India using unsupervised learning techniques.The dataset consists of various crimes against women such as rapes, kidnapping and abduction, dowry death and indecent representation of women.
            </span>
            <br>
            <div class="w-full flex justify-center">
                <button (click)="openCrimeGithub()" class="btn btn-color-2" style="cursor: pointer;">Github</button>
    
            </div>
                </div>
            
                <div style="padding: 1.5rem;
                flex: 1;
                border-radius: 2rem;
                text-align: center;font-family: Poppins,sans-serif;
                margin:5%">
        
                <img src="../../../assets/temp.JPG" alt="makemyjourney" style="height: 10rem;width: 100%;cursor: default;"><br><br>
                <div style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;" 
                class="bg-black text-white p-20 rounded-2xl cursor-pointer" (click)="github()"
                >Other Projects</div><br><br>
                <br>
                    </div>

        </div>

    </div>
</div>