<br><br><br>
<div style="display: flex;flex-direction: column;" id="experience">
    <div style="display: flex;width: 100%;align-items: center;flex-direction: column;">
        <div><h3 style="color: rgb(85, 85, 85);font-family:Poppins, sans-serif;">Explore My</h3></div>
        <div> <h1 style="font-size: 3rem;font-weight: bold;font-family:Poppins, sans-serif;">Tech Stack</h1></div>
    </div>
    <div style="display: flex;flex-direction: column;">
        <div class="mainDiv">
            <div style="padding: 1.5rem;
            flex: 1;
            background: white;
            border-radius: 2rem;
            border: rgb(53, 53, 53) 0.1rem solid;
            border-color: rgb(163, 163, 163);
            text-align: center;font-family: Poppins,sans-serif;
            margin: 5%;">
            
            <div style="display: flex;justify-content: space-between;">
                <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">
                    C
                </span><span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                    Intermediate
                </span>
              </div><br><br>


            
              <div style="display: flex;justify-content: space-between;">
                <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">
                    C++
                </span><span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                    Intermediate
                </span>
              </div><br><br>
            
              <div style="display: flex;justify-content: space-between;">
                <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">
                    Python
                </span><span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                    Intermediate
                </span>
              </div><br><br>
            
              <div style="display: flex;justify-content: space-between;">
                <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">
                    Java
                </span><span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                    Intermediate
                </span>
              </div><br><br>

              <div style="display: flex;justify-content: space-between;">
                <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">
                    MongoDB
                </span><span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                    Basic
                </span>
              </div><br><br>
              <div style="display: flex;justify-content: space-between;">
                <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">
                    Arduino
                </span><span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                    Basic
                </span>
              </div><br><br>
              <div style="display: flex;justify-content: space-between;">
                <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">
                    Google Cloud Platform
                </span><span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                    Basic
                </span>
              </div><br><br>
              <div style="display: flex;justify-content: space-between;">
                <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">
                    Docker
                </span><span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                    Intermediate
                </span>
              </div>
              <br><br>
              <div style="display: flex;justify-content: space-between;">
                <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">
                    Kubernetes
                </span><span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                    Basic
                </span>
              </div>
              <br><br>

        </div>
            <div style="padding: 1.5rem;
            flex: 1;
            background: white;
            border-radius: 2rem;
            border: rgb(53, 53, 53) 0.1rem solid;
            border-color: rgb(163, 163, 163);
            text-align: center;font-family: Poppins,sans-serif;
            margin: 5%;">
          
          <div style="display: flex;justify-content: space-between;">
            <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">
                HTML
            </span><span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                Intermediate
            </span>
          </div><br><br>


          <div style="display: flex;justify-content: space-between;">
            <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">
                CSS
            </span><span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                Intermediate
            </span>
          </div><br><br>
          
          <div style="display: flex;justify-content: space-between;">
            <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">
                Tailwind CSS
            </span><span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                Intermediate
            </span>
          </div><br><br>
          
          <div style="display: flex;justify-content: space-between;">
            <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">
                TypeScript
            </span><span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                Intermediate
            </span>
          </div><br><br>
          
          <div style="display: flex;justify-content: space-between;">
            <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">
                Angular
            </span><span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                Intermediate
            </span>
          </div><br><br>
          
          <div style="display: flex;justify-content: space-between;">
            <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">
                Spring  Boot
            </span><span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                Intermediate
            </span>
          </div><br><br>
          <div style="display: flex;justify-content: space-between;">
            <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">
                React
            </span><span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                Basic
            </span>
          </div><br><br>
          <div style="display: flex;justify-content: space-between;">
            <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">
                Flask
            </span><span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                Basic
            </span>
          </div><br><br>
          <div style="display: flex;justify-content: space-between;">
            <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">
                JUnit 5
            </span><span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;">
                Basic
            </span>
          </div><br><br>
        </div>
        </div>

    </div>
</div>