<br><br><br>
<div style="display: flex;flex-direction: column;" id="about">
    <div style="display: flex;width: 100%;align-items: center;flex-direction: column;">
        <div style="position: absolute;bottom: -38%;"><h3 style="color: rgb(85, 85, 85);font-family:Poppins, sans-serif;">Explore My</h3></div>
        <div> <h1 style="font-size: 3rem;font-weight: bold;font-family:Poppins, sans-serif;">Experience</h1></div>
    </div>
    <div style="display: flex;flex-direction: column;">
        <div style="display: flex;flex-direction: row;justify-content: space-evenly;">
            <div style="padding: 1.5rem;
            flex: 1;
            background: white;
            border-radius: 2rem;
            border: rgb(53, 53, 53) 0.1rem solid;
            border-color: rgb(163, 163, 163);
            text-align: center;font-family: Poppins,sans-serif;
            margin-left: 5%;margin-right: 5%;">
            <img src="../../../assets/tick.png" alt="tick" style="cursor: pointer;height: 1rem;">&nbsp;
            <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">HTML</span><br>
            <span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;
            margin-left: 12%;">
                Intermediate
            </span> <br><br>
            <img src="../../../assets/tick.png" alt="tick" style="cursor: pointer;height: 1rem;margin-left: -2%;">&nbsp;
            <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">CSS</span><br>
            <span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;
            margin-left: 12%;">
                Intermediate
            </span><br><br>
            <img src="../../../assets/tick.png" alt="tick" style="cursor: pointer;height: 1rem;margin-left: 7%;">&nbsp;
            <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">TypeScript</span><br>
            <span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;
            margin-left: 4%;">
                Basic
            </span><br><br>
            <img src="../../../assets/tick.png" alt="tick" style="cursor: pointer;height: 1rem;margin-left: 8%;">&nbsp;
            <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">JavaScript</span><br>
            <span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;
            margin-left: 5%;">
                Basic
            </span>
        </div>
            <div style="padding: 1.5rem;
            flex: 1;
            background: white;
            border-radius: 2rem;
            border: rgb(53, 53, 53) 0.1rem solid;
            border-color: rgb(163, 163, 163);
            text-align: center;font-family: Poppins,sans-serif;
            margin-right: 5%;">
          <img src="../../../assets/tick.png" alt="tick" style="cursor: pointer;height: 1rem;">&nbsp;
          <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">C++</span><br>
          <span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;
          margin-left: 15%;">
              Intermediate
          </span> <br><br>
          <img src="../../../assets/tick.png" alt="tick" style="cursor: pointer;height: 1rem;margin-left: 4%;">&nbsp;
          <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">Python</span><br>
          <span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;
          margin-left: 15%;">
              Intermediate
          </span><br><br>
          <img src="../../../assets/tick.png" alt="tick" style="cursor: pointer;height: 1rem;margin-left: 2%;">&nbsp;
          <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">JAVA</span><br>
          <span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;
          margin-left: 15%;">
              Intermediate
          </span><br><br>
          <img src="../../../assets/tick.png" alt="tick" style="cursor: pointer;height: 1rem;margin-left: 10%;">&nbsp;
          <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">SpringBoot</span><br>
          <span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;
          margin-left: 6%;">
              Basic
          </span><br><br>
          <img src="../../../assets/tick.png" alt="tick" style="cursor: pointer;height: 1rem;margin-left: 8%;">&nbsp;
          <span style="font-size: 1.17em; font-family: sans-serif;font-weight: bold;">MongoDB</span><br>
          <span style="color: rgb(85, 85, 85);font-family: sans-serif;font-size: larger;
          margin-left: 6%;">
              Basic
          </span><br><br>
        </div>
        </div>

    </div>
</div>